# Ripple-associated CG spectral analysis
https://github.com/Eden-Kramer-Lab/spectral_connectivity/blob/master/examples/Intro_tutorial.ipynb

<br>

### Imports

In [2]:
import os
import re
import glob
import pandas as pd
import numpy as np
import seaborn as sns
from tqdm import tqdm
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
from spectral_connectivity import Multitaper, Connectivity

warnings.filterwarnings('ignore')

<br>

### Open datasets
https://stackoverflow.com/questions/54615882/how-to-convert-a-pandas-multiindex-dataframe-into-a-3d-array

In [3]:
main_path = 'PreProcessedData'
cg_data = pd.read_csv(os.path.join(main_path, 'cg_data.csv'), index_col=False)
ripple_data = pd.read_csv(os.path.join(main_path, 'cg_analysis_ripple_library.csv'), index_col=False)

In [4]:
cg_data.head()

,ripple_nr,timestamp,TT1,TT2,TT3,TT4,TT5,TT6,TT7,TT8,TT9,TT10,TT11,TT12,TT13,TT14,start_time,end_time,phase,relative_timestamp
0,0,83.25725,151.905,105.105,158.730,191.685,-38.610,121.485,115.245,146.835,149.760,147.225,8.970,73.905,37.830,70.590,83.75725,83.81275,Sample,-0.5000
1,0,83.25775,144.495,125.190,151.515,148.980,-86.775,116.415,108.420,145.470,145.080,130.455,7.020,70.785,44.070,67.275,83.75725,83.81275,Sample,-0.4995
2,0,83.25825,76.440,95.940,108.420,106.470,-139.620,68.250,33.150,111.735,109.590,75.855,-79.755,15.405,12.870,23.010,83.75725,83.81275,Sample,-0.4990
3,0,83.25875,0.000,17.160,54.990,18.525,-220.155,-26.715,-52.455,40.365,65.520,-0.780,-129.870,-38.610,-71.955,-40.365,83.75725,83.81275,Sample,-0.4985
4,0,83.25925,-20.280,-10.920,28.665,15.795,-262.470,-54.015,-74.685,16.380,18.915,-39.585,-130.650,-69.615,-82.485,-88.140,83.75725,83.81275,Sample,-0.4980

<br>

## Prepare data for multitaper

"If we have three dimensions, dimension 1 is time, dimension 2 is trials, and dimensions 3 is signals. It is important to know note that dimension 2 now has a different meaning in that it represents trials and not signals now. Dimension 3 is now the signals dimension. We will show an example of this later."

time_series : array, shape (n_time_samples, n_trials, n_signals)

In [242]:
# Normalise relative timestamp to correct small jitters
cg_data['relative_timestamp']=cg_data.relative_timestamp.round(8)

# Drop unecessary columns
to_drop = ['start_time', 'end_time','timestamp']
cg_data = cg_data.drop(to_drop, axis=1)

# Split data by phase
sample_data = cg_data.loc[cg_data['phase']=='Sample'].drop(['phase'], axis=1)
delay_data = cg_data.loc[cg_data['phase']=='Delay'].drop(['phase'], axis=1)
test_data = cg_data.loc[cg_data['phase']=='Test'].drop(['phase'], axis=1)
iti_data = cg_data.loc[cg_data['phase']=='ITI'].drop(['phase'], axis=1)

In [ ]:
def add_the_stuff_here() # to apply to each dataframe

In [196]:
#  


n_tetrodes = 14
tts = ['TT{}'.format(x) for x in range(1,15)]

t = cg_data.pivot(
        index="relative_timestamp", 
        columns="ripple_nr", 
        values=["TT1", 'TT2']
    ).values.reshape(
        (
        2,
        test['relative_timestamp'].unique().size,
        test['ripple_nr'].unique().size,
        )
    )

In [197]:
t.shape

(2, 11, 3)

In [198]:
t

array([[[ -2.34 ,  46.215,  50.31 ],
        [ 12.285, -15.6  , 131.43 ],
        [ -4.875, 136.305,  -3.705],
        [ -2.535,  22.035,  78.975],
        [  9.555,  35.295,  75.27 ],
        [  5.07 , -43.68 , 167.505],
        [-14.82 ,   3.12 ,  49.725],
        [ 16.185, -86.19 , 142.545],
        [ 29.835,  28.47 ,  27.495],
        [ 56.94 , -65.13 , 121.68 ],
        [ 13.26 ,  -8.385,  93.405]],

       [[ 17.55 , -70.2  , 177.45 ],
        [ 21.06 , -18.135,  58.305],
        [ 22.035, -67.08 , 116.805],
        [ 26.715, -37.83 ,  37.05 ],
        [ 52.65 , -76.05 , 100.815],
        [  4.875, -46.41 ,  55.575],
        [ 46.605, -47.775, 112.71 ],
        [-16.965, -44.07 ,  80.535],
        [ 14.235, -54.21 , 153.465],
        [ 13.065,  -2.34 ,  61.815],
        [ 32.955, -12.48 , 122.265]]])

#### Reshape

In [ ]:
#time_series : array, shape (n_time_samples, n_trials, n_signals)
#Voltage in an array like
#(n_time_points, n_ripples, )

<br>

### Create multitaper object

In [ ]:
# Number of samples per time unit the signal(s) are recorded at
sampling_frequency = 3000

# Controls the duration of the segment of time the transformation is computed on (seconds)
time_window_duration = 0.1

# Control how far the time window is slid (overlap).
# Setting the step to smaller than the time window duration will make the time windows overlap
time_window_step = 0.1 # No overalap

# Controls the frequency resolution of the Fourier transformed signal.
# Setting this parameter will define the default number of tapers used in the transform 
# (number of tapers = 2 * time_halfbandwidth_product - 1.).
time_halfbandwidth_product =   # Need to study this one

In [6]:
#Multitaper?

In [ ]:
multitaper = Multitaper(
    signal, 
    sampling_frequency=sampling_frequency, 
    time_halfbandwidth_product= time_halfbandwidth_product
)

In [ ]:
multitaper

<br>

### Create connectivity object
The Connectivity class computes the frequency-domain connectivity measures from the Fourier coeffcients.

### Power spectral density plot - Heatmap

In [3]:
# PSD plot - Averaged across tetrodes (14 tetrodes = 1 response)   -- PEDING TO AFTER CHECKING VARIABILITY
# 1 plot per SWR location